*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    height: 100vh;
    width: fit-content;
    /* display: grid; */
}
header{
    background-color: skyblue;
    padding:30px;
}
.header{
    display:flex;
    justify-content: space-around;
}
a{
    text-decoration:none ;
    font-size: 2rem;
    color:white;
}
a:hover{
    color:black;
}
.call,.mail,.location,.login,.person,.search{
    display: flex;
    gap:10px; 
} 
.hamburger{
    display: none;
}
.mcontainer{
    background-image: url(./img1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    height:100vh;
    position: relative;
}
.mcontainer{
    h1{
        display: flex;
        justify-content: center;
        color: skyblue;
        font-size: 4rem;
        padding-top: 60px;
    }
}
.cont-1{
    a{
        font-size: 1.5rem;
    }
}
.mcontainer{
    a:hover{
        color: skyblue;
    }
}
.cont-1{
    display: flex;
    gap:60px;
    justify-content: center;
    padding-top: 30px;
}
p{
text-align: center;
font-size: 1.5rem;;
}
.cont-2{
    color:white;
    display:flex;
    justify-content: center;
    gap:20px;
    margin-top: 70px;
    flex-direction: column;
    p{
        justify-content: center;
    }
    h1{
        color: white;
    }
}
     
    .container3{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .container3{
        button{
            background-color: skyblue;
            color: white;
            font-size: 1.5rem;
            padding: 20px;
        }
    }
    .button{
        background-color: skyblue;
        color: white;
        padding: 20px;
    }
    .button:hover{
        background-color: white;
        color: black;
    }
    .ncontainer{ 
        width: fit-content;
        /* width:80%; */
        height: 500px;
        background-color: white;
        margin-top: 50px;
        /* display: grid; */
        display: flex;
        justify-self: center;
        box-shadow: 1px 1px 4px 4px gray;
    }
    .ncontainer{
        padding: 30px;
        gap: 10px;
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        top: 800px;
        left: 50px;
        right: 50px;
    }
    .container4{
        display:flex;
        gap: 10px;
    }
     .book{
        font-size: 3rem;
     }
     .appointment{
        font-size: 3rem;
        color: skyblue;
     }
     .container6{
         display:flex;  
         flex-direction:column;
         margin-top: 30px;
         gap:30px;
     }
     label{
        font-size: 30px;
        color: gray;
     }
     input{
        width:400px;
        height:90px;
        border-radius: 5px;
        outline: none;
        font-size: 1.5rem;
        padding-left: 10px;
     }
     .container5{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-left:40px ;
        margin-right: 40px;
        justify-content: space-between;
     }
     .container7{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap:30px;
     }
     .container8{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap:30px;
     }
     .container7{
        select{
           height: 90px;
           width: 430px;
           font-size: 1.5rem;
           outline: none;
        }
    }
    .container8{
        select{
           height: 90px;
           width: 430px;
           font-size: 1.5rem;
           outline: none;
        }
    }
     .container9{
        width: 100%;
        display: flex;
        justify-self: center;
        margin-top: 500px;
     }
     .container11{
        h1{
            font-size: 3.5rem;
            margin-top: 40px;
        }
     }
     .container10{
        display: flex;
        flex-direction: column;
        margin-left: 300px;
     }
     .container12{
       margin-top: 40px;
       p{
        text-align: start;
        color: gray;
       }
     }
     .container14{
        margin-left: 100px;
     }
     .container13{
        width: 80%;
        margin-top: 100px;
     }
     .button1{
        background-color: black;
        color: white;
        padding: 20px;
     }
     .button1:hover{
        background-color: skyblue;
        color: white;
     }
     .container15{
        width:80%;
        justify-self: center;
        margin-top: 100px;
        h1{
            display: flex;
            justify-content: center;
            font-size: 4rem;
        }
     }
     .container16{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 2rem;
        }
        h1{
            justify-content: start;
        }
        h2{
            margin-top: 30px;
            font-size: 2.5rem;
        }
        p{
            text-align: start;
            padding: 2px;
        }
     }
     .container-1,.container-2,.container-3,.container-4{
        display: flex;
        flex-direction: column;
     }
     .button2{
        border: 2px solid;
        padding: 20px;
        background-color: white;
        color: black;
     }
     .button2:hover{
        color: skyblue;
        border: 2px solid skyblue;
     }
     .container-a,.container-b,.container-c,.container-d{
        margin-top: 60px;
     }
     .p1,.p2,.p3,.p4{
        margin-top: 30px;
     }
     .container21{
        width:100%;
        height:900px;
        margin-top: 100px;
        background-color:rgb(12, 12, 39);
        border: 2px solid;
        border-radius: 150px ;
        h1{
            color: white;
            justify-self: center;
            font-size: 3.5rem;
            margin-top: 90px;
        }
     }
     .container22{
        display: flex;
        gap:40px;
        justify-content: center;
        margin-top: 100px;
     }
     .container23,.container24,.container25{
        height: 600px;
        width: 500px;
        /* border:2px ; */
        border-radius: 6px;
        background-color: white;
        img{
            width:450px;
            margin-left: 25px;
            margin-top: -30px;
        }
        h1{
            display: flex;
            justify-self: center;
            margin-top: 30px;
            color: skyblue;
        }
        h2{
            display: flex;
            justify-self: center;
            /* margin-top: 10px; */
            color: skyblue;
        }
     }
     .container-e,.container-f{
        height: 80px;
        width: 80px;
        background-color: white;
        align-self: center;
        h2{
            display: flex;
            /* align-items: center; */
            justify-content: center;
            margin-top: 10px;
        }
     }
     .min{
        color: skyblue;
        background-color: white;
     }
     .container-e:hover,.container-f:hover{
        /* color: white; */
        background-color: skyblue;
     }
     .min:hover{
        color: white;
     }
     .container-g,.container-h,.container-i{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        img{
            width: 30px;
            height: 30px;
        }
       a{
            color: black;
        }
    }
    .container26{
        width:80%;
        height:50px;
        display: flex;
        justify-self:center ;
        margin-top: 150px;
        font-size: 1.5rem;
    }
    .container27{
        width:80%;
        height:600px;
        display: flex;
        justify-self: center;
    }
    .container27{
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    .container-j{
        width:100px;
        height: 100px;
        display:flex;
        justify-self: center;
    }
    .container-k{
        width: 100px;
        height: 100px;
        margin-top: 200px;
        display: flex;
        justify-self: center;
    }
    .max{
        color: black;
        margin-top: 200px;
        /* margin-left: 100px; */
    }
    .max:hover{
        color: skyblue;
    }
    .smin{
        color: black;
    }
    .smin:hover{
        color:skyblue;
    }
    .container28{
        width:100%;
        height:300px;
        display: flex;
        /* margin-left: 50px; */
        margin-top: 100px;
        margin-right: 80px;
        /* justify-self: center; */
        /* border:2px solid ; */
        box-shadow: 1px 1px 2px 2px gray;
    }
    .container29{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        /* border: 2px solid; */
        margin-left: 65px;
        margin-top: 50px;
        h1{
            color:skyblue;
        }
        h2{
            text-align: start;
            color:lightgrey;
        }
        p{
            text-align: start;
            color:rgb(122, 100, 100);
            display: flex;
            margin-top: 20px;
        }
    }
    .container30{
        h1{
            font-size: 3rem;
            margin-left: 200px;
        }
    }
    .container32{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: 30px;
        gap: 50px;
        input{
            width: 800px;
        }
    }
    .container33{
        margin: 50px;
        margin-left: 200px;
        input{
            width: 800px;
            height: 150px;
        }
    }
    .container-l{
        display: flex;
    }
    .container-m{
        height: 80px;
        width: 250px;
        /* border: 2px solid; */
        margin-left: 200px;
        background-color: skyblue;
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    .container-m:hover{
        background-color: black;
        color: white;
    }
    .rmin:hover{
        color: white;
    }
    .container35{
        width:100%;
        height:700px;
        margin-top: 10px;
        background-color: black;
        color: white;
    }
    .container36{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        input{
            background-color: black;
            color: white;
            margin-top: 80px;
            
        }
        placeholder{
            background-color: white;
            color: white;
            
        }
        h5{
            margin-top: 100px;
        }
    }
    .emin:hover{
        color: skyblue;
    }
    .container37{
        display: flex;
        justify-content: center;
    }
    .container38{
        display: flex;
        justify-content: center;
        gap: 150px;
        h1{
            font-size: 10rem;
            color: skyblue;
        }
    }
    .container-n{
        display: flex;
        gap: 20px;
        h1{
            margin-top: -50px;
        }
        h2{
            margin-top: 70px;
            font-size: 2rem;
        }
    }
    .containero{
        display:flex;
        gap:20px;
        margin-top: 30px;
    }
    .containerp{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
    .containerq{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
    .container-r{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .ymin:hover{
        color:skyblue;
    }
    .container-s{
       margin-top: 20px;
    }
    p{
        text-align: start;
        display: flex;
        margin-top: 10px;
    }
    .amin{
        color: skyblue;
    }
    .amin:hover{
        color: skyblue;
    }
    .bmin:hover{
        color: skyblue;
    }
    .container-u{
        display: flex;
        gap: 20px;
    }
    .container-w{
        margin-top: 30px;
        display: flex;
        gap: 20px;
    }
     @media screen and (max-width:770px) {
        .ncontainer{
            height: 1400px;
            margin-left: 160px;
            padding: 100px;
            /* margin-bottom: 100px; */
            margin-top: -90px;
            /* margin-right: 100px; */
        }
        .container5{
            flex-direction: column;
        }
        .container9{
            margin-top: 500px;
            height: 1200px;
        }
    }
    @media screen and (max-width:770px) {
        .mcontainer{
            height: 1500px;
        }
        
    }
    @media screen and (max-width:770px) {
        .container9{
            flex-direction: column;
            margin-top: 600px;
            /* justify-content: center; */
            /* margin-left: 400px; */
        }
        .container10{
            margin-left: 150px;
        }
        .container14{
            margin-top:50px;
            margin-left: 170px;
        }
        .container15{
            margin-top: -20px;
        }
    }
    @media screen and (max-width:2000px) and (min-width:770px) {
        .ncontainer{
            position: absolute;
            margin-left: 300px;
            /* margin-top: -200px; */
            margin-top: 200px;
        }
        .mcontainer{
            height: 1000px;
        }
    }
    @media screen and (min-width:2000px) {
        .container9{
            display: flex;
            justify-content: start;
            align-items: start;
            justify-self: start;
        } 
    }
    @media screen and (max-width:770px) {
        .container16{
            flex-direction: column;
            gap:40px;
            justify-content: start;
            align-items: start;
            margin-left: 50px;
        }
        
    }
    @media screen and (max-width:770px) {
        .container22{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container21{
            height:2500px ;
        }
    }
    @media screen and (max-width:770px) {
        .container29{
            flex-direction: column;
            height:700px ;
        }
    }
    @media screen and (max-width:770px) {
        .container-l{
            flex-direction: column;
        }
        .container34{
            /* width: 100vw; */
            margin-top: 50px;
        }
    }
    @media screen and (max-width:770px) {
        .container38{
            flex-direction: column;
        }
        .container35{
            height: 2100px;
        }
        .container38{
            justify-content: start;
            align-items: start;
            margin-left: 50px;
        } 
    }
    /* @media screen and (max-width:340px) {
        .main-container{
           margin-left:100px ;
        }
    } */
    @media screen and (max-width:770px) {
        .container14{
            width: 0;
        }
        
    }
    @media screen and (max-width:770px) {
        .container28{
            height: 450px;
        }
        
    }
    @media screen and (max-width:770px) {
        .container34{
            iframe{
                width:1050px;
            }
        }
        
    }
    @media screen and (max-width:770px) {
        .container-header{
            display: flex;
            justify-content: space-around;
        }
        .icon-z{
            font-size: 4rem;
            margin-top: 50px;
        }
        .container3{
            margin-top: -10px;
        }
        
    }
    #checkbox{
        display: none;
    }
    @media screen and (max-width:770px) {
        
    #checkbox:checked+nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-left: 200px;
        .person,.search,.login{
            display: none;
        }
    }
    .hamburger{
        display: inline-block;
    }
    .cont-1{
        display: none;
    }
}
 /* @media screen and (max-width:770px) {
    .cont-z{
        display: flex;
    }
} 
  */